<div class="container page_border">
    <div class="page_image animated bounce">
    </div>
    <div class="page_content">
      <div class="content_group">
        <h4 class="label_attr">받은 이메일 주소</h4>
          <h5 class="content_box"><%= @mail.email %></h5>
      </div>
      <div class="content_group">
        <h4 class="label_attr">제목</h4>
          <h5 class="content_box"><%= @mail.title %></h5>
      </div>
      <div class="content_group">
        <h4 class="label_attr">내용</h4>
        <h5 class="content_box"><%= @mail.content.gsub(/\r\n/, '<br/>').html_safe %></h5>
      </div>
    </div>
</div>
