<div class="container page_border">
    <div class="page_image animated bounce">
    </div>
    <div class="page_content">
      <form action="/write" method="POST">
        <div class="form-group form_group">
          <h4 class="label_attr"><label for="title">제목</label></h4>
          <input name="title" type="text" class="form-control form_input" id="title" placeholder="제목을 입력하세요" required>
        </div>
        <div class="form-group form_group">
          <h4 class="label_attr"><label for="content">내용</label></h4>
          <textarea name="content" class="form-control form_textarea" rows="10" id="content" placeholder="내용을 입력하세요" required></textarea>
        </div> 
        <button type="submit" class="submit_button">제출</button>
      </form>
    </div>
</div>