<div class="container font">
    <div class="page_image">
    <center><h1 class="page_title">Moomin</h1></center>

    </div>
    <div class="page_content">      
      <h2><%= @title %></h2>  
      <h2><%= @content %></h2>
    </div>
</div>
