// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page_border{
    margin: 100px auto;
    min-width: 800px;
    background-color: #071723;
    // background-image: url("/assets/moomin_bg");
    // background-size: 100% 100%;
    box-shadow: 0px 0px 20px #000000;
}

.page_image{
    background-image: url("/assets/civilwar.jpg");
    background-size: 100% 100%;
    margin: 50px;    
    height: 400px;
    box-shadow: 0px 0px 15px #000000;
}

.page_content{    
    margin-bottom: 100px;
    padding: 0px 100px;
    .form_group{
        padding-bottom: 5px;
    }
    .form_input{
        margin: 10px 0px;
    }
    .form_textarea{
        margin: 10px 0px;
        resize: none;
    }
    
}  

.label_attr{
    color: white;
    display: inline;
    background: #25536A;
    border-radius: 10px;
    margin: 0px;
    padding: 5px;
}

.submit_button{
    color: white;
    display: inline;
    background: #25536A;
    border-radius: 10px;
    // box-shadow: 4px 4px 3px #b8b8b8;
    padding: 5px 10px;    
    float: right;
}

.content_group{
    padding: 10px 0px;
}

.content_box{    
    background-color: white;
    border-radius: 5px;
    margin: 15px 0px;
    padding: 10px;
}
